body {
  background-color: #0e0e0e;
  margin: 0;
  padding: 0;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between; /*space between elements */
  align-items: center;
  padding: 10px 20px; /* padding to navbar */
  background-color: #0e0e0e;
  margin-left: 100px;
  margin-right: 90px;
  /* flex-wrap: wrap; */
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* flexbox for horizontal alignment */
  gap: 25px; /* Space between list items */
  align-items: center;
}

.nav-list-items {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 11px; /* Space between image and text */
}

.company {
    font-size: 20px;
    font-weight: 400;
    color: #ebeaed;
    font-weight: 500;
    text-shadow: hsla(0, 0%, 100%, 0.566);
  }

.nav-link {
  color: #8d949c;
  text-decoration: none;
  display: flex; /* flexbox for horizontal alignment */
  align-items: center; /* center items vertically */
  gap: 9px; /* Space between image and text */
}

.nav-link:hover {
  color: rgb(222, 222, 228);
}

/* Right side of nav bar */
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between search and button */
}

.search {
  display: flex;
  align-items: center;
  border: 0.8px solid hsla(0, 0%, 57%, 0.308); /* Change the border style and color as needed */
  border-radius: 5px; /* Optional: Add rounded corners */
  padding: 4px;
}

.search-icon {
  color: rgb(170, 169, 168);
  transform: scaleX(-1);
}

.search-input {
  font-family: inherit;
  font-size: 15px;
  color: rgb(82, 81, 80);
  margin-left: 5px;
  outline: none;
  border: none;
  background: transparent;
}

.light-mode {
  /*light-mode icon*/
  padding-left: 3px;
  width: 20px;
  display: inline-block;
  transition: background-color 0.3s ease, padding 0.3s ease,
    border-radius 0.3s ease;
}

.light-mode:hover {
  /*changes background on hover for light icon*/
  background-color: rgb(40, 39, 39);
  padding: 4px;
  border-radius: 5px;
}

.button {
  background: #0078d4;
  color: white;
  font-size: 16px;
  font-weight: 10px;
  border: none;
  outline: none;
  cursor: pointer; /* pointer */
  padding: 7px 17px; /* padding to the button */
  border-radius: 4px;
}

.button:hover{
    background: #025697;
}

/* Banner */
.banner {
  color: #9da1a6;
  text-align: center;
  font-size: 14px;
  padding-top: 22px;
  padding-bottom: 50px;
  font-weight: 400;
}

.banner-ver {
  color: #4babec;
  text-decoration: underline;
  letter-spacing: 0.4px;
}

/* Mid section */
.mid-section{
margin-left: 110px;
margin-right: 100px;
display: flex;
justify-content: space-between;
align-items: center;
}

.mid-left{

}

.banner1{
    background-color: #181818;
    display: inline-block;
    color: #9ba0a7;
    font-size: 14px;
    padding: 9px 17px;
    border-radius: 18px;
    margin-bottom: 21px;
    font-weight: 500;
    border: 1px solid rgba(85, 82, 82, 0.288); 
}

.heading{
    font-size: 55px;
    font-style: bold;
    color: #e8eaec;
    font-weight: 600;
    margin-bottom: 9px;
    letter-spacing: 0.8px;
}

.button-sec{
    background: #0078d4;
  color: #f7feff;
  font-size: 18px;
  font-weight: 10px;
  border: none;
  outline: none;
  cursor: pointer; /* pointer */
  padding: 15px 28px; /* padding to the button */
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-top: 25px;
}

.button-sec:hover{
    background: #025697;
}

.imagess{
    width: 800px;
}

.subtext{
    color: #8d949c;
    margin-top: 20px;
}


.web-link{
    font-size: 14px;
    color: #56a6ea;
    text-decoration: underline;
}

.terms{
    margin-top: 20px;
    font-size: 11px;
    color: #8d949cd0;
}

.terms-link{
    color: #56a6ea;
    text-decoration: underline;
}